pkgbase = minisforum-v3-tabletmode
	pkgdesc = Automatic tablet mode and working auto-rotate on the Minisforum V3
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/brab-one/minisforum-v3-tabletmode
	install = minisforum-v3-tabletmode.install
	arch = any
	license = MIT
	depends = python
	depends = systemd
	depends = iio-sensor-proxy
	optdepends = minisforum-v3-dsdt: expose the accelerometer to the kernel
	optdepends = minisforum-v3-accelerometer: correct accelerometer mount matrix
	optdepends = maliit-keyboard: on-screen keyboard in tablet mode
	source = v3-tabletmode-daemon
	source = v3-tabletmode
	source = v3-tabletmode.service
	source = v3-tabletmode.desktop
	source = v3-tabletmode-uinput.conf
	source = 81-iio-sensor-proxy-force-poll.rules
	source = LICENSE
	sha256sums = 68c35c7e20850ded821c48175675bc0a0223579c123975e92b46a194603ec9df
	sha256sums = 92d2c7927aa77fdef527d5a5c259ca17579fa8652acfa65c77535b6c7824dd31
	sha256sums = fe3902df6c70614bb5b9a2a4bbf81f83d690b7e91cc761823f99f21525787006
	sha256sums = 27fa9e7a46060586068f6b8212ae654e77859437654bb895454aa6a4c890d9bf
	sha256sums = a771c9695d7283f7771adc00b680bd27391e6ac00e9fd026f4796067ee9a87eb
	sha256sums = 878131be558200d932a2e30ae4961908dfcecedeeb8ac6f8c9354557bf89d781
	sha256sums = 81e6b74bdbdf67fb75054827e474c9447a0b7b0abd438e639f7fe18fb851e3ec

pkgname = minisforum-v3-tabletmode
